<footer>
  <section>
    <h4>Datos de contacto</h4>
    <div class="con">
      <p><b>Lugar:</b> {{ datos.lugar }}</p>
      <p><b>Telefono:</b> {{ datos.numero }}</p>
      <p><b>Correo:</b> {{ datos.email }}</p>
    </div>
  </section>
  <img src="Little_Rainbows.png" alt="" />
  <hr />
  <section>
    <h4>Redes sociales</h4>
    <div class="redes">
      <p>
        <a target="_blank" [href]="datos.instagram"
          ><b>Instagram </b><i class="fa-brands fa-instagram"></i
        ></a>
      </p>
      <p>
        <a target="_blank" [href]="datos.tiktok"
          ><b>Tik-Tok </b><i class="fa-brands fa-tiktok"></i
        ></a>
      </p>
      <p>
        <a target="_blank" [href]="datos.facebook">
          <b>Facebook </b><i class="fa-brands fa-facebook"></i
        ></a>
      </p>
    </div>
  </section>
</footer>
