<footer>
  <section>
    <h4>Datos de contacto</h4>
    <div class="con">
      <p><strong>Lugar:</strong> {{ datos.lugar }}</p>
      <p><strong>Telefono:</strong> {{ datos.numero }}</p>
      <p><strong>Correo:</strong> {{ datos.email }}</p>
    </div>
  </section>
  <img src="Little_Rainbows.png" alt="" />
  <hr />
  <section>
    <h4>Redes sociales</h4>
    <div class="redes">
      <p>
        <a target="_blank" [href]="datos.instagram"
          ><strong>Instagram </strong><i class="fa-brands fa-instagram"></i
        ></a>
      </p>
      <p>
        <a target="_blank" [href]="datos.tiktok"><strong>Tik-Tok </strong><i class="fa-brands fa-tiktok"></i
        ></a>
      </p>
    </div>
  </section>
</footer>
