footer {
  margin-top: 2em;
  display: flex;
  flex-flow: column wrap;
  background-color: var(--color-4);
  justify-content: space-around;
  align-items: center;
  /* position: relative; */
  /* overflow: hidden; */
  /* min-height: 10em; */

  & img {
    display: none;
    width: 20%;
    height: 20%;
    object-fit: cover;
  }

  & section {
    width: 95%;
    padding: 4em 0;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: center;
  }
}
h4 {
  font-size: 1.7em;
  font-weight: bold;
  width: 100%;
  /* position: absolute; */
  /* top: 0; */
}
p {
  font-size: 1.2em;
  text-align: start;
}

hr {
  /* border: 2px solid #000000; */
  width: 100%;
}
.redes p {
  text-align: start;
}
a {
  text-decoration: none;
}

@media screen and (min-width: 800px) {
  footer {
    flex-direction: row;
    justify-content: space-around;
    padding: 1.2em;

    & img {
      display: block;
      width: 20%;
    }
    & section {
      width: 40%;
      align-items: center;
      & div {
        margin-top: 2em;
      }
    }
    h4 {
      text-align: center;
      font-size: 2.2em;
    }
  }
  hr {
    display: none;
  }
  p {
    font-size: 1.6em;
  }
  strong:hover {
    border-bottom: #ff0000 solid 2px;
  }
}
