<div class="cont">
  <h2>QUEREMOS CONOCERTE</h2>

  <h3>Contacta con nosotros</h3>

  <section>
    <img src="./foto_niña_fil.jpg" alt="foto" />

    <form action="">
      <div class="nombre">
        <input type="text" id="name" placeholder="Nombre" />
        <input type="text" id="surnames" placeholder="Apellidos" />
      </div>

      <div class="correo">
        <input type="text" id="email" placeholder="Correo electrónico" />
      </div>

      <div class="mensaje">
        <textarea id="message" placeholder="Mensaje" rows="17"></textarea>
      </div>
    </form>
  </section>
</div>
