<nav [ngClass]="{ navbar: mostrar }">
  <ul>
    <li ><a routerLinkActive="active" routerLink="/inicio/inicio" (click)="resetDropdown()">Inicio</a></li>
    <li>
      <a (click)="Dropdown()">La Escuela <i class="fa-solid fa-arrow-right" id="arrow"></i></a>
      <ul class="drop" [ngClass]="{ show: showit }">
        <li><a routerLinkActive="active" routerLink="/escuela/instalaciones" [ngClass]="{ yees: showit }" (click)="resetDropdown()">Instalaciones</a></li>
        <li><a routerLinkActive="active" routerLink="/escuela/metodologia" [ngClass]="{ yees: showit }" (click)="resetDropdown()">Metodología</a></li>
      </ul>
    </li>
    <li><a routerLinkActive="active" routerLink="/contacto/" (click)="resetDropdown()">Contacto</a></li>
    <li><a routerLinkActive="active" routerLink="/ofrecemos" (click)="resetDropdown()">Que ofrecemos</a></li>
  </ul>
</nav>
<i class="fa-solid fa-bars" id="menu" (click)="mobileMenu()"></i>
