<div class="aviso">
  <div class="contacto">
    <p><i class="fa-solid fa-phone"></i> {{datos.numero}} </p>
    <p><i class="fa-solid fa-envelope"></i> {{datos.email}} </p>
  </div>
  
  <div class="iconos">
    <a target="_blank" [href]="datos.instagram"><i class="fa-brands fa-instagram"></i></a>
    <a target="_blank" [href]="datos.tiktok"><i class="fa-brands fa-tiktok"></i></a>
    <a  target="_blank" [href]="datos.facebook"><i class="fa-brands fa-facebook"></i></a>
  </div>

  <div class="horario">  
    <p><i class="fa-solid fa-location-dot"></i> {{datos.lugar}}</p>
    <p><i class="fa-solid fa-clock"></i> {{datos.horario}}</p>
  </div>
</div>

