<div class="inst">
  <h2>Nuestras instalaciones</h2>
  <div class="cards">
    <div class="card">
      <span style="--card: var(--color-1)">Un aula de 0-1 años</span>
    </div>
    <div class="card">
      <span style="--card: var(--color-2)">Tres aulas de 1-2 años</span>
    </div>
    <div class="card">
      <span style="--card: var(--color-3)">Dos aulas de 2-3 años</span>
    </div>
    <div class="card">
      <span style="--card: var(--color-4)">Patio interior</span>
    </div>
    <div class="card">
      <span style="--card: var(--color-5)">Espacio psicomotricidad</span>
    </div>
  </div>
  <p>
    Nuestras aulas están pensadas para crear un ambiente acogedor y seguro,
    donde los peques de 0 a 3 años puedan desarrollarse en todos los aspectos.
    Cada aula tiene materiales que estimulan sus sentidos, su mente y su
    motricidad a través de actividades divertidas como juegos, manipulación y
    experimentación. En cada etapa, buscamos que los niños sean más autónomos,
    aprendan activamente y expresen sus emociones. Adaptamos las rutinas y
    materiales según lo que cada grupo necesita. Además, contamos con amplios
    espacios al aire libre y una sala de psicomotricidad para que los niños
    exploren, jueguen y crezcan tanto física como emocionalmente.<br />
    <br />
    Actualmente estamos trabajando para abrir nuestras puertas en febrero de
    2025.
  </p>
</div>
