<div class="uni">
  <h2>VESTIMENTA ESCOLAR</h2>

  <div class="row">
    
    <div class="texto">
      <p>
        Sabemos lo esencial que es que estén cómodos, por eso el uniforme es un
        chándal, ideal para que se muevan con <b>libertad</b> en todas las
        actividades.
      </p>
      <p>
        Además, vestir igual ayuda a que todos se sientan parte del
        <b>grupo</b> y hace más fácil el día a día.
      </p>
      <p>
        Así, los niños siempre estarán listos para aprender y disfrutar
        <b>sin complicaciones</b>.
      </p>
    </div>

    <app-uni-carousel></app-uni-carousel>

  </div>
</div>
