<div class="informacion">
  <h2>Una escuela diferente</h2>
  <h3>Filosofia del centro</h3>
  <div class="fil">
    <div class="fot">
      <img src="./foto_niña_fil.jpg" alt="niña" class="foto_redonda_niña" />
      <p>
        Bienvenidos a Little Rainbows, un centro infantil bilingüe que comprende
        la importancia del desarrollo en los niños de 0 a 3 años. Nos enfocamos
        en que crezcan felices, explorando y sintiéndose seguros en un entorno
        familiar. <br />
        <br />
        Little Rainbows surge de nuestra dedicación y extensa experiencia en
        educación infantil. Hemos creado un espacio acogedor con técnicas de
        aprendizaje divertidas y una metodología activa, respetuosa y adaptada a
        la edad de los niños.
        <br />
        <br />
        Nuestro principal objetivo es que se sientan seguros y amados,
        fomentando la autoestima necesaria para su crecimiento y desarrollo en
        la sociedad. Ponemos todo nuestro conocimiento y, sobre todo, mucho amor
        en este proceso.
      </p>
    </div>
  </div>

  <div class="ofr">
    <h3>¿QUÉ OFRECEMOS?</h3>
    <div class="cards">
      <div class="card">
        <span style="--card: var(--color-1)">INGLÉS DIARIO</span>
        <p>
          La inserción del idioma se comienza desde el primer día y el juego es
          nuestra herramienta principal para implantar su enseñanza.
        </p>
      </div>
      <div class="card">
        <span style="--card: var(--color-2)">HORARIO AMPLIADO</span>
        <p>
          Disponemos de un horario ampliado y flexible que puede combinar en
          función de sus necesidades. Nuestro centro educativo está abierto de
          Lunes a Viernes de 6:30 a 19:00 durante todo el año, exceptuando los
          días festivos que estipula la Comunidad de Madrid.
        </p>
      </div>
      <div class="card">
        <span style="--card: var(--color-3)">SEGUIMIENTO INDIVIDUALIZADO</span>
        <p>
          Realizamos tutorías individuales e informes trimestrales para un mayor
          seguimiento del desarrollo integral de nuestros alumnos.
        </p>
      </div>
      <div class="card">
        <span style="--card: var(--color-4)">SERVICIO DE PEDIATRÍA</span>
        <p>
          Ofrecemos la seguridad de contar con una consulta médica profesional
          en el momento preciso en que se requiere. Asesoría personalizada para
          niños y padres. Los Talleres de Escuela para Familias proporcionan
          experiencias que favorecenla educación de los hijos
        </p>
      </div>
      <div class="card">
        <span style="--card: var(--color-5)">CAMPAMENTO DE VERANO</span>
        <p>
          Durante julio y agosto, el centro estará abierto con una programación
          especial para ese período. En estos meses, también se permitirá la
          inscripción de hermanos de hasta 6 años de edad.
        </p>
      </div>
      <div class="card">
        <span style="--card: var(--color-6)">ALIMENTACIÓN CONSCIENTE</span>
        <p>
          Ofrecemos un servicio de comedor con un menú equilibrado, elaborado
          diariamente en el centro. Utilizamos productos naturales, evitando
          grasas, azúcares y alimentos procesados, y priorizamos alimentos
          integrales con mínima manipulación.
        </p>
      </div>
      <div class="card">
        <span style="--card: var(--color-7)">ESPACIO FAMILIAR</span>
        <p>
          La familia es clave en nuestras rutinas, por lo que mantenemos un
          contacto diario a través de una agenda virtual. Con una aplicación
          móvil, las familias reciben información sobre los alumnos y pueden
          comunicarse con la tutora para resolver dudas o compartir detalles
        </p>
      </div>
      <div class="card">
        <span style="--card: var(--color-8)">METODOLOGÍA INNOVADORA</span>
        <p>
          En la escuela Little Rainbows creemos que los niños merecen un
          ambiente respetuoso y estimulante para su desarrollo. Ofrecemos un
          enfoque pedagógico activo, que fomenta el aprendizaje y el crecimiento
          a través de la experimentación, la creatividad y el juego.
        </p>
      </div>
    </div>
  </div>
</div>
