.fil {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
.fot {
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
  align-items: center;
}

.foto_redonda_niña {
  width: 15em;
  height: 15em;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 8px 0px #aeaeae;

}
p{
  text-align: center;
}
.fot p {
  font-size: 1.4em;
  padding: 1em;
  font-weight: bold;
}

h2,
h3 {
  font-weight: bold;
}
h2 {
  font-size: 4.3vh;
  color: var(--color-y);
  text-align: center;
}
h3 {
  font-size: 3vh;
  padding: 1vh 1vh;
}


/* h2, h3{
  font-family: hibernate;
} */

app-carousel{
  width: 90%;
  padding: 2em;
  height: auto;
  object-fit: cover;
}

@media screen and (min-width: 900px) {
  .fot {
    display: block;
  }
  .foto_redonda_niña {
    float: left;
    shape-outside: circle(50%);
    width: 25em;
    height: 25em;
    margin: 0 3em 0 0.6em;
    float: left;
  }
  .card {
    width: 45%;
  }
  p{
    text-align: start;
  }
  .com {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 3em;

    & .comida {
      width: auto;
      height: 20em;
      object-fit: cover;
      object-position: center bottom;
    }
    & p{
      width: 40%;
      line-height: 2;
    }
  }
}


