<div class="informacion">
  <h2>UNA ESCUELA DIFERENTE</h2>
  <h3>FILOSOFÍA DEL CENTRO</h3>
  <div class="fil">
    <div class="fot">
      <img src="./Juego.jpg" alt="niña" class="foto_redonda_niña" />
      <p>
        Bienvenidos a Little Rainbows, un centro infantil <b>bilingüe</b> que
        comprende la importancia del desarrollo en los niños de 0 a 3 años. Nos
        enfocamos en que crezcan <b>felices</b>, explorando y sintiéndose
        <b>seguros</b> en un <b>entorno familiar.</b> <br />
        <br />
        Little Rainbows surge de nuestra dedicación y extensa
        <b>experiencia</b> en educación infantil. Hemos creado un espacio
        acogedor con técnicas de aprendizaje divertidas y una
        <b>metodología activa</b>, <b>respetuosa</b> y <b>adaptada</b> a la edad
        de los niños.
        <br />
        <br />
        Nuestro principal objetivo es que se sientan seguros y amados,
        fomentando la <b>autoestima</b> necesaria para su crecimiento y
        desarrollo en la sociedad. Ponemos todo nuestro conocimiento y, sobre
        todo, mucho <b>amor</b>
        en este proceso.
      </p>
    </div>
    <h3>Equipo Educativo</h3>
    <div class="fot">
      <p>
        Nuestro equipo se compone de <b>personal titulado</b> en Educación
        Infantil, con conocimientos <b>bilingües</b> y dedicación vocacional a
        la etapa de 0 a 3 años. Las tutoras de aula realizan
        <b>actividades</b> en español e inglés.
      </p>
    </div>
    <app-carousel (click)="goTo()"></app-carousel>
  </div>
</div>
